<li id="comment-<%= comment.id %>">
  <% if current_user && current_user.admin? %>
    <%= render 'shared/user_profile_link', post: comment %>
  <% end %>

  <% if current_user %>
        <%= render 'topics/vote', post: comment %>
  <% end %>

  <div class="row content">
    <div class="col-md-3 col-xs-3">
      <% if comment.picture? %>
        <a href="#" class="thumbnail", title="<%=comment.topic.title%>">
          <%= image_tag comment.picture.url  %>
        </a>
      <% end %>
    </div>
    <div class="col-md-6 col-xs-6">
      <p><%= link_to comment.content, polymorphic_path(Topic.find_by_id(comment.topic_id)) %></p>
      <% if current_user.admin? %>
        <%= render 'shared/post_delete_link', post: comment %>
      <% end %>
      <span class="timestamp">
        Posted <%= time_ago_in_words(comment.created_at) %> ago.
      </span>
    </div>
  </div>
</li>
