<li id="comment-<%= comment.id %>">
  <% if current_user.admin? %>
    <span class="user"><%= link_to full_name(User.find_by_id(comment.user_id)), polymorphic_url(User.find_by_id(comment.user_id)) %></span>
  <% end %>

  <div class="row content">
    <div class="col-md-3 col-xs-3">
      <% if comment.picture? %>
        <a href="#" class="thumbnail", title="<%=comment.title%>">
          <%= image_tag comment.picture.url  %>
        </a>
      <% end %>
    </div>
    <div class="col-md-6 col-xs-6">
      <h1><%= link_to comment.title, polymorphic_url(Topic.find_by_id(comment.topic_id)) %></h1>
      <% if current_user.admin? %>
        <%= link_to "delete", polymorphic_url(Topic.find_by_id(comment.topic_id)), method: :delete,
        data: { confirm: "You sure?" } %>
      <% end %>
      <span class="timestamp">
        Posted <%= time_ago_in_words(comment.created_at) %> ago.
      </span>
    </div>
  </div>
</li>