<li id="topic-<%= topic.id %>">
  <div class="row content">
    <div class="col-md-4">
      <% if topic.picture? %>
        <a href="#" class="thumbnail", title="<%=topic.title%>">
          <%= image_tag topic.picture.url  %>
        </a>
      <% end %>
    </div>
      <div class="col-md-6">
        <div class="post-text">
          <%= link_to topic.title, polymorphic_url(topic), :class => "topic_title" %>
        </div>
        <div class="post-text">
          <% if current_user && current_user.admin? %>
            <%= render 'shared/user_profile_link', post: topic %>
          <% end %>
        </div>
        <div class="timestamp">
          <p>Posted <%= time_ago_in_words(topic.created_at) %> ago.</p>
        </div>
        <div class="post-text">
          <% if current_user && current_user.admin? %>
            <%= render 'shared/post_delete_link', post: topic %>
          <% end %>
        </div>
  </div>
</li>
