<ol>
  <li id="post-<%= post.id %>">
    <div class="row content">
      <div class="col-md-4">
        <% if post.picture? %>
          <a href="#" class="thumbnail">
            <%= image_tag post.picture.url  %>
          </a>
        <% end %>
      </div>
      <div class="col-md-6">
        <div class="post-text">
          <% if current_user && current_user.admin? %>
            <%= render 'shared/user_profile_link', post: post %>
          <% end %>
        </div>
        <div class="timestamp">
          <p>Posted <%= time_ago_in_words(post.created_at) %> ago.</p>
        </div>
        <div class="post-text">
          <p><%= post.content %></h1>
        </div>

        <% if current_user %>
          <%= render 'topics/vote', post: post %>
        <% end %>

        <div class="post-text">
          <% if current_user && current_user.admin? %>
            <%= render 'shared/post_delete_link', post: post %>
          <% end %>
          <%= link_to "Kommentoi", new_comment_path(post_params(post)), class:"btn btn-link" %>
        </div>
      </div>
    </div>
  </li>

  <%= render partial:'shared/post', collection: post.comments, as: :post %>
</ol>
